%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
%     {social_net_api, ".*", {git, "git@github.com:chaos-ad/social_net_api.git", "percent_encoding"}}
    {social_net_api, ".*", {git, "git://github.com/petrkozorezov/social_net_api.git", "master"}}
]}.
{lib_dirs,["deps"]}.
{erl_opts, [debug_info]}.
