%% -*- erlang -*-
[
%     {enoty, [{network, odnoklassniki}]},
%     {social_net_api, [
%         {network,               odnoklassniki},
%         {app_id,                "AAAAAAAAAAAAAAAAA"},
%         {secret_key,            "AAAAAAAAAAAAAAAAAAAAAAAA"},
%         {client_options,        [{host, "api-sandbox.odnoklassniki.ru:8088"}]}
%     ]}

%     {enoty, [{network, vkontakte}]},
%     {social_net_api, [
%         {network,        vkontakte},
%         {app_id,         "1111111"},
%         {secret_key,     "AAAAAAAAAAAAAAAAAAAA"},
%         {client_options, []}
%     ]}

    {enoty, [{network, mymail}]},
    {social_net_api, [
        {network,        mymail},
        {app_id,         "573746"},
        {secret_key,     "fb5ddcd8322f689db12e3601bf59c70b"},
        {client_options, []}
    ]}
].
