%% -*- erlang -*-
[
    {enoty, [{network, odnoklassniki}]},
    {social_api, [
        {network,               odnoklassniki},
        {app_id,                "CBACJLABABABABABA"},
        {secret_key,            "B0DBC092EB43EDDBC011075B"},
        {client_options,        [{host, "api-sandbox.odnoklassniki.ru:8088"}]}
    ]}
].
